
<ul class='todoList'>
  <li ng-repeat ="item in list.todoItems | filter: list.filtersObj[list.listFilter]" ng-class="{'strike': item.checked}">
    <div class="checkbox" ng-click="list.toggleChecked(item)">
    </div>
    <div class="itemText" ng-click="list.toggleInput(item)">
      {{item.body}}
    </div>
    <form class="editForm" ng-submit="list.saveInput(item)">
      <input  class="editbox" ng-show="list.show" ng-model="list.newTodo"></input>
    </form>
    <div class="delete" ng-click="list.delete(item)">
      X
    </div>
  </li>
</ul>

<footer>
    <p class='remaining'><span class='incomplete-items'>{{list.countItems(list.todoItems)}}</span> items left</p>
    <nav>
        <ul>
            <li><button class='show-all active'><a ui-sref="todoParent.todos({filter: 'all'})">All</a></button></li>
            <li><button class='show-active'><a ui-sref="todoParent.todos({filter: 'active'})">Active</a></button></li>
            <li><button class='show-completed'><a ui-sref="todoParent.todos({filter: 'completed'})">Completed</a></button></li>
        </ul>
    </nav>
    <button class='clear' ng-click="list.deleteCompleted()">Clear completed</button>
</footer>
