// Variables //

$primaryFont: 'Work Sans', sans-serif;
$backgroundColor: #f5f5f5;
$innerBorderColor: #eee;
$titleTextColor: #ead8d8;
$lightTextColor: #444;
$completedColor: #5bc0ad;
$deleteColor: #af5c5f;

// General Styles //
body {
    margin-left: 20px;
}

nav {
    .navItem {
        float: left;
        list-style: none;
        margin: 10px 10px 10px 0;
    }
}
// styles for Add page //

.todoForm {
    border: 1px solid $innerBorderColor;
    padding: 10px;
    background: white;
    font-style: italic;

    .new-todo {
        border: none;
        outline: none;
        width: 300px;
        clear: both;
    }
}
// styles for View page //

.todoList {
    li {
        border: 1px solid $innerBorderColor;
        padding: 10px;
        background: $innerBorderColor;
        overflow: hidden;
        clear: both;
        list-style: none;


        &:hover {
            background: white;
        }

        &:hover > .delete {
            display: inline;
        }

        .delete {
            color: $deleteColor;
            display: none;
            float: right;
            cursor: pointer;
        }

        .checkbox {
            margin: 0 10px 0 5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $backgroundColor;
            border: 1px solid rgba(black, .3);
            float: left;
        }
    }
}

.strike {
  text-decoration: line-through;
}

.deleted {
  display: none;
}
